<!DOCTYPE html>
<html>
<head>
	{% if title %}
		<title>{{ title }}</title>
	{% else %}
		<title>SearchComp</title>	
	{% endif %}

	 <!-- Required meta tags for bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
	<h1 class="text-center">SearchComp</h1>
	<p class="text-center"> Search Companies by their Mission </p>
	<div class="container text-center col-sm-4">
		{% with messages = get_flashed_messages() %}

			<div>
					{% for message in messages %}
					<div class="alert alert-info"> 
						{{message}}
					</div>
					{% endfor %}
			</div>
		{% endwith %}
	</div>
	<div>
		{% block content %}
		{% endblock %}
	</div>
	<div class="container text-center">
		{% if current_user.is_authenticated %}
		To <a href="{{url_for('logout')}}">Logout</a>
		
		{% else %}
		To <a href="{{url_for('login')}}">Login</a>
		{%endif%}
	</div>

</body>
</html>